<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width">
  <title>田一块微信支付订单</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<body>
  <div>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <h3>田一块订单微信支付</h3>
          <h4>订单详情</h4>
          <table class="table table-bordered table-hover table-responsive">
            <tr>
              <th>订单号</th>
              <td>
                <%=order.no%>
              </td>
            </tr>
            <tr>
              <th>商家名称</th>
              <td>
                <%=order.store.name%>
              </td>
            </tr>
            <tr>
              <th>支付金额</th>
              <td>
                <%=order.price%>
              </td>
            </tr>
          </table>
          <p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">正在调用微信支付...</span>
              </div>
            </div>
            <button disabled="disabled" class="btn btn-default">正在调用微信支付...</button>
          </p>
          <h4 class="hidden error"></h4>
          <h4 class="hidden">支付失败，请点击<a href="<%=url%>">这里</a>返回</h4>
        </div>
      </div>
    </div>
    <script>
 var url = '<%=url%>';
// 从服务器获取配置好的数据
function wxPayConfig(cb) {
  $.ajax({
    url: '/weixin/api/pay/init'
  }).success(function (config) {
    switch (config.code) {
      case '0':
      case 0:
        cb(config);
        break;
      default:
        alert(JSON.stringify(config));
    }
  }).error(function () {
    alert(JSON.stringify(arguments));
  });
}

// 调用微信JS api 支付
function wxPay(config) {
  WeixinJSBridge.invoke(
    'getBrandWCPayRequest',
    config,
    function (data) {
      switch (data.err_msg) {
        case 'get_brand_wcpay_request:fail':
          alert('支付失败!\n原因:' + JSON.stringify(data));
          location.href = url;
          break;
        case 'get_brand_wcpay_request:cancel':
          alert('支付取消!');
          location.href = url;
          break;
        case 'get_brand_wcpay_request:ok':
          alert('支付成功!');
          location.href = url;
          break;
        default:
          alert('未知错误 !\n返回:' + JSON.stringify(data));
          location.href = url;
          break;
      }
      WeixinJSBridge.log(data.err_msg);
    }
  );
}

function onBridgeReady() {
  $('.btn').html('微信支付初始化完成,正在支付...');
  pay();
}

function pay() {
  wxPayConfig(function (config) {
    if (config.code === 0) {
      wxPay(config.data);
    } else {
      if (config.data && config.data.err_code) {
        switch (config.data.err_code) {
          case 'OUT_TRADE_NO_USED':
            alert('订单信息发生变化,请重新下载订单');
            break;
        }
      } else {
        $('.btn').html('微信支付发生了错误!');
        $('.hidden').removeClass('hidden');
        if (config && config.json) {
          $('.error').html('原因：' + config.json.err_code + '<br/>详情：' + config.json.err_code_des);
        }
      }
    }
  });
}

$(document).ready(function () {
  document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
});
    </script>
  </div>
</body>

</html>
